@mixin button-disabled {
  opacity: .4;
  pointer-events: none;
}

@mixin button-plain {
  background-color: transparent;
  border: none;
}
  
@mixin button-accent($size: 'default') {
  background-color: $accent;
  border-radius: $button-radius;
  color: white;
  font-size: $button-font-size-desktop;
  font-weight: bold;
  padding: $button-padding;
  text-align: center;
  text-decoration: none;

  display: block;

  @if($size == 'large') {
    font-size: $button-font-size-large-mobile;
    padding: $button-padding-large-mobile;

    @include breakpoint($small) {
      font-size: $button-font-size-large-desktop;
      padding: $button-padding-large-desktop;
    }
  }
}

@mixin button-download {
  @include button-accent;
  width: fit-content;

  &.disabled { @include button-disabled(); }
}

@mixin button-link-external {
  &::after {
    background-image: url('~assets/images/icons/external.svg');
    content: '';
    margin-left: 10px;
    width: 14px; height: 14px;

    display: inline-block;
  }
}