@mixin gutters($sides:'both', $type:'padding') {
  $sides: if($sides == 'both', ('left', 'right'), ($sides));

  @each $s in $sides {
    #{$type}-#{$s}: $gutter-small;

    @include breakpoint($medium) { #{$type}-#{$s}: $gutter-medium; }
    @include breakpoint($large) { #{$type}-#{$s}: $gutter-large; }
  }
}

@mixin container {
  @include gutters;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  
  @include breakpoint($large) {
    width: $site-width;
  }
}

@mixin spacer-top($mobile, $tablet, $desktop) {
  padding-top: $mobile;
  @include breakpoint($small) { padding-top: $tablet; }
  @include breakpoint($medium) { padding-top: $desktop; }
}

@mixin spacer-bottom($mobile, $tablet, $desktop) {
  padding-bottom: $mobile;
  @include breakpoint($small) { padding-bottom: $tablet; }
  @include breakpoint($medium) { padding-bottom: $desktop; }
}

@mixin spacer-small-top {
  @include spacer-top($spacer-small-mobile, $spacer-small-tablet, $spacer-small-desktop);
}

@mixin spacer-small-bottom {
  @include spacer-bottom($spacer-small-mobile, $spacer-small-tablet, $spacer-small-desktop);
}

@mixin spacer-medium-top {
  @include spacer-top($spacer-medium-mobile, $spacer-medium-tablet, $spacer-medium-desktop);
}

@mixin spacer-medium-bottom {
  @include spacer-bottom($spacer-medium-mobile, $spacer-medium-tablet, $spacer-medium-desktop);
}

@mixin spacer-large-top {
  @include spacer-top($spacer-large-mobile, $spacer-large-tablet, $spacer-large-desktop);
}

@mixin spacer-large-bottom {
  @include spacer-bottom($spacer-large-mobile, $spacer-large-tablet, $spacer-large-desktop);
}