//--------------------------------------------------
// borders
//--------------------------------------------------
$global-radius: 4px;

//--------------------------------------------------
// borders
//--------------------------------------------------
$button-font-size-desktop: 16px;
$button-font-size-large-desktop: 20px;
$button-radius: $global-radius;
$button-padding: 10px 20px;
$button-padding-large: 20px 40px;

//--------------------------------------------------
// colors
//--------------------------------------------------
$blue-light: #D6EBFA;
$blue: #1FA0E3;
$blue-dark: #0C314B;

$green: #1CA035;

$orange: #CE6A46;

$red: #FA3232;

$accent: $green;
$alert: $red;
$primary: $blue-dark;

//--------------------------------------------------
// fonts
//--------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$roboto: 'Roboto', sans-serif;

$body-color: $primary;
$body-font: $roboto;

$heading-color: $primary;
$heading-font: $roboto;

$h1-mobile: 30px;
$h1-tablet: 50px;
$h1-desktop: 50px;

$h2-mobile: 25px;
$h2-tablet: 35px;
$h2-desktop: 35px;

$h3-mobile: 20px;
$h3-tablet: 25px;
$h3-desktop: 25px;

//--------------------------------------------------
// links
//--------------------------------------------------
$a-color: $blue;
$a-underline: underline; 

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
// must be in px not rem!
// IF MODIFIED, PLEASE CHECK ELSEWHERE IN PROJECT e.g. in mixin-responsive.js
$small: 767px; 
$medium: 1024px;
$large: 1300px;

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: 20px;
$gutter-medium: 25px;
$gutter-large: 30px;

$spacer-small-mobile: 16px;
$spacer-small-tablet: 24px;
$spacer-small-desktop: 36px;

$spacer-medium-mobile: 24px;
$spacer-medium-tablet: 34px;
$spacer-medium-desktop: 80px;

$spacer-large-mobile: 30px;
$spacer-large-tablet: 60px;
$spacer-large-desktop: 100px;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: $large;