//--------------------------------------------------
// breakpoints
//--------------------------------------------------
// must be in px not rem!
// IF MODIFIED, PLEASE CHECK ELSEWHERE IN PROJECT e.g. in mixin-responsive.js
$small: 767px; 
$medium: 1024px;
$large: 1300px;

//--------------------------------------------------
// borders
//--------------------------------------------------
$global-radius: 4px;

//--------------------------------------------------
// buttons
//--------------------------------------------------
$button-font-size-desktop: 16px;
$button-font-size-large-mobile: 18px;
$button-font-size-large-desktop: 20px;
$button-radius: $global-radius;
$button-padding: 10px 20px;
$button-padding-large-mobile: 16px 30px;
$button-padding-large-desktop: 20px 40px;

//--------------------------------------------------
// colors
//--------------------------------------------------
$blue-light: #D6EBFA;
$blue: #1FA0E3;
$blue-dark: #0C314B;

$green: #1CA035;

$orange: #CE6A46;

$red: #FA3232;

$accent: $green;
$alert: $red;
$primary: $blue-dark;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: $large;

//--------------------------------------------------
// fonts
//--------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$roboto: 'Roboto', sans-serif;

$body-color: $primary;
$body-font: $roboto;
$body-font-size: 16px;

$heading-color: $primary;
$heading-font: $roboto;

$header-styles: (
  'mobile': (
    'h1': ('fs': 30px, 'mt': 0),
    'h2': ('fs': 24px, 'mt': 0),
    'h3': ('fs': 20px, 'mt': 0),
    'h4': ('fs': 18, 'mt': 0),
    'h5': ('fs': 17, 'mt': 0),
    'h6': ('fs': 16, 'mt': 0)
  ),
  'tablet': (
    'h1': ('fs': 50px, 'mt': 0),
    'h2': ('fs': 35px, 'mt': 0),
    'h3': ('fs': 25px, 'mt': 0),
    'h4': ('fs': 25, 'mt': 0),
    'h5': ('fs': 20, 'mt': 0),
    'h6': ('fs': 16, 'mt': 0)
  ),
  'desktop': (
    'h1': ('fs': 50px, 'mt': 0),
    'h2': ('fs': 35px, 'mt': 0),
    'h3': ('fs': 25px, 'mt': 0),
    'h4': ('fs': 25, 'mt': 0),
    'h5': ('fs': 20, 'mt': 0),
    'h6': ('fs': 16, 'mt': 0)
  ),
);

//--------------------------------------------------
// links
//--------------------------------------------------
$a-color: $blue;
$a-underline: underline; 

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: 20px;
$gutter-medium: 25px;
$gutter-large: 30px;

$spacer-small-mobile: 20px;
$spacer-small-tablet: 24px;
$spacer-small-desktop: 36px;

$spacer-medium-mobile: 40px;
$spacer-medium-tablet: 60px;
$spacer-medium-desktop: 80px;

$spacer-large-mobile: 50px;
$spacer-large-tablet: 80px;
$spacer-large-desktop: 100px;