@import "abstracts";

h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

body {
  h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
  }

  h1 {
    font-size: $h1-desktop;
  }

  h2 {
    font-size: $h2-desktop;
    margin-bottom: 1em;
  }
}